.showbook{
    border : 1px black solid;
    width: 80%;
    height: 80%;
    margin-left: 80px;
    display: grid;
    grid-template-columns: auto auto;
    margin-top : 20px;
}
.bookinfo{
    width: 450px;
    height: 300px;
    border:1px red solid;
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    
}
.content{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 100px;
}
.image{
    /* border:1px black solid; */
    width: 250px;
}
img{
    height: 100%;
    width: 100%;
}
.bookinfo{
    padding-top: 20px;
}