.signin{
    border:pink 2px solid;
    height: 400px;
    width: 600px;
    margin-left: 450px;
    margin-top:80px;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center ;
    margin-top:70px !important;
    font-size: 50px !important;
}
h2{
    text-align: center ;
    margin-top:10px !important;
    padding-top:20px !important;
    font-size: 20px !important;
}
.username{
    width: 200px!important;
    margin-left: 200px ;
}
.pass{
    width: 200px!important;
    margin-left: 200px ;
}
h3{
    font-size: 10px !important;
    margin-left: 200px !important;
    margin-top:5px !important;
}
h4{
    font-size: 10px !important;
    margin-left: 360px !important;
    margin-top:-22px !important;
}